In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

import os
import platform

mydb=mysql.connector.connect(host="localhost",user="root",passwd="Apeksha")

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000206B94471C0>

In [2]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Movies")

In [3]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('movies',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
mydb=mysql.connector.connect(host="localhost",user="root",passwd="Apeksha",database="movies")

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE movies (name_of_movie VARCHAR(40),name_of_actor  VARCHAR(40),name_of_actress  VARCHAR(40),name_of_director VARCHAR(40),year_of_release VARCHAR(40))")
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('movies',)

In [7]:
sql = "INSERT INTO movies (name_of_movie,name_of_actor,name_of_actress,name_of_director,year_of_release) VALUES (%s, %s, %s, %s, %s)"
val = [
  ('LaLaLand', 'Ryan Gosling','Emma Stone','Damien Chazelle','2016'),
  ('CrazyStupidLove', 'Ryan Gosling','Emma Stone','Glenn Ficarra','2011'),
  ('EternalSunshineofSpotlessMind', 'Jim Carry','Kate Winslet','Michel Gondry','2004'),
  ('TheShawshankRedemption','Morgan Freeman','','Frank Darabont','1994'),
  ('Mr.&Mrs.Smith','Brad Pitt','Angelina Jolie',' Doug Liman','2005'),
  ('SilverLiningsPlaybook','Bradley Cooper','Jennifer Lawrence','David O. Russell','2012'),
  ('AStarIsBorn','Bradley Cooper','Lady Gaga','Bradley Cooper','2018'),
  ('Intesteller','Matthew McConaughey', 'Anne Hathaway','Christopher Nolan','2014'),
  ('Tenet','Robert Pattinson', 'Elizabeth Debicki','Christopher Nolan','2020')
    ]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

9 was inserted.

In [8]:
mycursor = mydb.cursor()

mycursor.execute("SELECT name_of_movie FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('LaLaLand',)
('CrazyStupidLove',)
('EternalSunshineofSpotlessMind',)
('TheShawshankRedemption',)
('Mr.&Mrs.Smith',)
('SilverLiningsPlaybook',)
('AStarIsBorn',)
('Intesteller',)
('Tenet',)

In [9]:
mycursor = mydb.cursor()

mycursor.execute("SELECT name_of_actor FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ryan Gosling',)
('Ryan Gosling',)
('Jim Carry',)
('Morgan Freeman',)
('Brad Pitt',)
('Bradley Cooper',)
('Bradley Cooper',)
('Matthew McConaughey',)
('Robert Pattinson',)

In [10]:
mycursor = mydb.cursor()

mycursor.execute("SELECT name_of_actress FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Emma Stone',)
('Emma Stone',)
('Kate Winslet',)
('',)
('Angelina Jolie',)
('Jennifer Lawrence',)
('Lady Gaga',)
('Anne Hathaway',)
('Elizabeth Debicki',)

In [11]:
mycursor = mydb.cursor()

mycursor.execute("SELECT name_of_director FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Damien Chazelle',)
('Glenn Ficarra',)
('Michel Gondry',)
('Frank Darabont',)
(' Doug Liman',)
('David O. Russell',)
('Bradley Cooper',)
('Christopher Nolan',)
('Christopher Nolan',)

In [12]:
mycursor = mydb.cursor()

mycursor.execute("SELECT year_of_release FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('2016',)
('2011',)
('2004',)
('1994',)
('2005',)
('2012',)
('2018',)
('2014',)
('2020',)

In [13]:
mycursor = mydb.cursor()

sql = "SELECT * FROM movies WHERE name_of_actor ='Bradley Cooper'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('SilverLiningsPlaybook', 'Bradley Cooper', 'Jennifer Lawrence', 'David O. Russell', '2012')
('AStarIsBorn', 'Bradley Cooper', 'Lady Gaga', 'Bradley Cooper', '2018')

In [14]:
mycursor = mydb.cursor()

sql = "SELECT * FROM movies WHERE name_of_actress ='Anne Hathaway'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Intesteller', 'Matthew McConaughey', 'Anne Hathaway', 'Christopher Nolan', '2014')

In [15]:
mycursor = mydb.cursor()

sql = "SELECT * FROM movies WHERE name_of_director ='Michel Gondry'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('EternalSunshineofSpotlessMind', 'Jim Carry', 'Kate Winslet', 'Michel Gondry', '2004')

In [16]:
mycursor = mydb.cursor()

sql = "SELECT * FROM movies WHERE year_of_release ='2020'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Tenet', 'Robert Pattinson', 'Elizabeth Debicki', 'Christopher Nolan', '2020')